@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

:root {
  --bg: rgb(31, 33, 46);

  --menu: rgb(52, 92, 116);
  --menu-visit: rgb(81, 149, 191);
  --menu-mobile-hover: rgb(46, 78, 101);
  --menu-mobile-nav: rgb(105, 152, 149);
  --menu-mobile-nav-hover: rgb(85, 125, 123);

  --switch-base: rgb(29, 52, 60);
  --switch: rgb(174, 138, 207);

  --list-base: rgb(43, 48, 70);
  --list-border: #36444e;

  --loader: grey;

  --tooltip-border: rgb(86, 200, 192);

  --scroll-to-top-base: rgb(114, 193, 188);

  --footer: rgb(39, 42, 57);

  --text-default: white;
  --text-title: rgb(165, 192, 255);
  --text-addition: rgb(167, 255, 255);
  --text-platformer: #a27dff;
  --text-removal: rgb(235, 110, 101);
  --text-highlight: rgb(199, 227, 255);
  --text-highlight-important: rgb(243, 159, 159);
  --text-highlight-allow: rgb(89, 214, 89);
  --text-note: rgb(170, 170, 170);
  --text-loader: rgb(120, 140, 161);
  --text-list-top: rgb(195, 77, 77);
  --text-list-main: rgb(223, 193, 125);
  --text-list-extended: rgb(24, 186, 32);
  --text-list-default: rgb(107, 191, 199);
  --text-leaderboard-detail: rgb(159, 223, 198);
  --text-leaderboard-detail-border: rgb(65, 105, 102);

  --link-default: rgb(181, 163, 199);
  --link-menu: rgb(207, 207, 207);
  --link-menu-hover: rgb(211, 255, 240);
  --link-menu-nav-hover: rgb(211, 255, 240);
  --link-hover: rgb(211, 255, 240);
  --link-visit: rgb(211, 255, 240);
  
  --list-selected: rgba(132, 161, 255, 0);

  --bg-contact: rgba(255, 255, 255, 0.08);
  --bg-switch: rgba(136, 161, 60, 0.226);
  --bg-modal: rgb(38, 44, 57);
}

body {
  font-family: 'Signika', sans-serif;
  min-height: calc(100vb - 45px);
  background-color: var(--bg);
  margin: 0;
  transition: background-color 0.1s;
}

.mainTitle {
  text-align: center;
  font-size: 5em;
}

.content {
  display: block;
  position: relative;
  min-height: calc(100vb - 117px);
  top: 30px;
  padding: 15px;
  margin: 45px 15px 15px 15px;
  color: var(--text-default);
  transition: opacity 0.3s, top 0.5s cubic-bezier(0.16, 1, 0.3, 1), color 0.1s;
}

#exd, #legacy {
  color: var(--text-default);

  transition: color 0.1s;
}

#menuContainer {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  padding: 0 10px 0 10px;
  background-color: var(--menu);

  transition: background-color 0.1s;
}

a.menu{
  position: relative;
  color: var(--link-menu);
  text-decoration: none;
  text-align: center;

  transition: color 0.1s;
}

a.menu:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  background-color: var(--menu);
  transition: 0.4s cubic-bezier(0.16, 1, 0.3, 1), background-color 0.3s;
}

a.menu:hover:after {
  background-color: var(--menu-visit);
  top: 0;
}

a.menu.visiting:after {
  background-color: var(--menu-visit);
  top: 95%;
  left: 5%;
  height: 5%;
  width: 90%;
  transition: 0.33s cubic-bezier(0.16, 1, 0.3, 1), left 0.33s cubic-bezier(0.87, 0, 0.13, 1), width 0.33s cubic-bezier(0.87, 0, 0.13, 1);
}

a.menu.leave:after {
  top: 100%;
  height: 0;
  transition: 0.1s linear;
}

.menu {
  float: left;
  color: var(--text-title);
  padding: 18px 12px 12px 12px;

  transition: color 0.1s;
}

button.navdrop {
  display: none;
  position: absolute;
  color: var(--text-title);
  background-color: var(--menu);
  padding: 0 0;
  border: 0px;
  margin: 0 0;
  width: 45px;
  height: 100%;
  font-size: 14px;
  cursor: pointer;

  transition: background-color 0.1s;
}

button.navdrop:focus, button.navdrop:hover {
  background-color: var(--menu-mobile-hover);

  transition: background-color 0.1s;
}

.navdropMenu {
  display: none;
  position: absolute;
  min-width: 120px;
  border-right: var(--bg) solid 3px;
  border-bottom: var(--bg) solid 3px;
  top: 100%;
  z-index: 1;
}

a.navdropContent {
  display: block;
  background-color: var(--menu-mobile-nav);
  padding: 10px 15px 10px 12px;
  color: var(--text-default);
  text-decoration: none;
  transition: background-color 0.1s;
}

a.navdropContent:hover, a.navdropContent.visiting {
  background-color: var(--menu-mobile-nav-hover);
}

a.navdropContent:hover {
  color: var(--link-menu-nav-hover) !important;
}

a.navdropContent.visiting {
  color: var(--link-menu-nav-hover) !important;
}

h2 {
  color: var(--text-default);
  transition: color 0.1s;
}

h3 {
  line-height: 30px;
  margin: 5px 0;
}

h3 i {
  color: var(--text-addition);
  transition: color 0.1s;
}

h3 i.removal {
  color: var(--text-removal);
  transition: color 0.1s;
}

p {
  color: var(--text-default);
  transition: color 0.1s;
}

strong {
  color: var(--text-highlight-important);
  transition: color 0.1s;
}

button.dropdownBtn {
  font-family: 'Signika', sans-serif;
  background-color: var(--list-base);
  text-align: left;
  padding: 10px 25px 10px 20px;
  border: 0px;
  border-radius: 4px;
  margin: 10px;
  width: 100%;
  cursor: pointer;

  transition: background-color 0.1s;
}

a.link, a.link:visited {
  color: var(--link-default);
  transition: color 0.1s;
}

a:hover, a:visited:hover {
  color: var(--link-hover);
}

a.menu:hover {
  color: var(--link-menu-hover);
}

a.visiting, a.visiting:hover {
  color: var(--link-visit);
  transition: color 0.1s;
}

.collapsable {
  padding: 0 20px 5px 20px;
  border-left: 2px solid var(--list-border);
  margin: 10px;
  display: block;
  overflow: hidden;
  transition: border-color 0.1s;
}

.collapseWrap {
  height: 0;
  margin-left: 5px;
  display: block;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.loaderContainer {
  position: absolute;
  display: block;
  font-size: 25px;
  left: 45%;
  top: 50%;
} 

.loaderContainer p {
  color: var(--text-loader);
  transition: color 0.1s;
}

.loader {
  border: 10px solid var(--loader);
  border-top: 10px solid var(--bg);
  border-radius: 50%;
  position: absolute;
  left: 8%;
  height: 50px;
  width: 50px;
  animation: load 0.8s ease-in-out infinite;
  transition: border-color 0.1s;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--text-default);
  transition: border-color 0.1s;
}

.tooltip .tooltiptext { 
  width: 105px;
  font-size: 13px;
  text-align: center;
  padding: 3px 0;
  border-radius: 6px;
  border: 1px dashed var(--tooltip-border);
  
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  
  opacity: 0;
  transition: opacity 0.2s, top 0.3s cubic-bezier(0.16, 1, 0.3, 1), border-color 0.1s;
}

.tooltip:hover .tooltiptext {
  top: 125%;
  opacity: 1;
}

address {
  width: 100%;
  text-align: center;
  color: var(--text-default);
  background-color: var(--footer);
  padding: 3px 0;

  transition: background-color 0.1s;
}

address.addr {
  opacity: 0;
  transition: opacity 0.15s;
}

.contact {
  padding-left: 15px;
  list-style-type: "- ";
}

.invite {
  width: 60px;
  height: 40px;
}

.invite img {
  display:block;
  margin: 0;
  border: 0;
  width: auto;
  height: auto;
  overflow: hidden;
}

.plat {
  color: var(--text-platformer);
  transition: color 0.1s;
}

.content ol, .content ul {
  line-height: 30px;
}

.content ol b, .content ul b {
  color: var(--text-highlight);
  transition: color 0.1s;
}

#warning {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

#darkmode-switch-container {
  float: right;
  margin-right: 25px;
}

#order-switch-container,
#placement-switch-container,
#order-switch-container_mobile,
#placement-switch-container_mobile {
  display: inline-block;
  overflow: hidden;
  height: 35px;
  padding: auto 0;
}

#darkmode-switch-display, 
#order-switch-display, 
#placement-switch-display,
#order-switch-display_mobile,
#placement-switch-display_mobile {
  display: inline-block;
  cursor: pointer;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: background-color 0.1s;
}

#darkmode-switch-display {
  position: relative;
  height: 36px;
  width: 70px;

  margin: 7px;
  border-radius: 18px;
  
  background-color: var(--switch-base);
}

#order-switch-display, #order-switch-display_mobile {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 30px;
  width: 55px;

  margin: 0;
  border-radius: 5px;

  top: 50%;
  transform: translateY(-50%);
  
  background-color: var(--bg-switch);
}

#placement-switch-display, #placement-switch-display_mobile {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 30px;
  width: 75px;

  margin: 0;
  border-radius: 5px;

  top: 50%;
  transform: translateY(-50%);
  
  background-color: var(--bg-switch);
}

#darkmode-switch {
  position: absolute;
  display: inline-block;
  overflow: hidden;

  height: 20px;
  top: 5px;
  left: 8px;
  
  padding: 3px;
  border-radius: 50%;

  background-color: var(--switch);

  transition: left 0.2s, background-color 0.1s;
}

#order-switch, #order-switch_mobile {
  position: relative;
  display: inline-block;
  width: 55px;

  transition: top 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

#order-switch span,
#order-switch_mobile span {
  height: 30px;
  width: 55px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

#placement-switch, #placement-switch_mobile {
  position: relative;
  display: inline-block;
  width: 75px;

  transition: top 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

#placement-switch span,
#placement-switch_mobile span {
  height: 30px;
  width: 75px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

#darkmode-switch-checkbox, 
#order-switch-checkbox, 
#placement-switch-checkbox,
#order-switch-checkbox_mobile,
#placement-switch-checkbox_mobile {
  opacity: 0;
  width: 0;
  height: 0;
}

#scroll-to-top {
  display: inline-block;
  position: fixed;
  height: 55px;
  width: 50px;
  right: 30px;
  bottom: -70px;
  color: var(--text-default);
  background-color: var(--scroll-to-top-base);

  padding-top: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 3px solid var(--bg);
  border-bottom: 0;

  text-align: center;

  cursor: pointer;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: bottom 0.4s cubic-bezier(0.25, 1, 0.5, 1), color 0.1s, border-color 0.1s;
}

.player-exd-list h5 {
  margin: 8px 0;
}

.leaderboard {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

#player-container {
  overflow: hidden;
  max-height: calc(100vb - 150px);
  min-width: 350px;
  flex: 40%;
  margin-top: 20px;
}

#player {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 30px;
  scrollbar-color: var(--text-note) transparent;
  scrollbar-width: 10px;
}

#leaderboard-border {
  display: inline-block;
  align-self: center;
  height:75vb;
  border-right: solid var(--menu) 4px;
  margin-left: 10px;
  margin-top: 5px;
}

#player-detail-container {
  overflow: hidden;
  max-height: calc(100vb - 150px);
  flex: 60%;
  margin-top: 20px;
  margin-left: 10px;
}

#player-detail {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: var(--text-note) transparent;
  scrollbar-width: 10px;
}

.leaderboard-btn {
  width: 100%;
  height: 50px;
  padding-right: 20px;
  align-content: center;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--list-selected);

  transition: background-color 0.1s linear;
}

#player-info,
#player-info_mobile {
  display: grid;
  width: 90%;

  grid-template-columns: [c1] 0.333fr [c2] 0.333fr [c3] 0.333fr [c4];
  grid-template-rows: [r1] 0.5fr [r2] 0.5fr [r3];

  text-align: center;
  line-height: 40px;
}

#player-info .title,
#player-info_mobile .title {
  height: 40px;
  font-weight: 700;
  color: var(--text-leaderboard-detail);
  border-bottom: solid 1px var(--text-leaderboard-detail-border);
}

#player-info .leaderboard-detail-content {
  height: 40px;
  font-size: 20px;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

#contact {
  position: relative;
  float: right;
  height: 50px;
  background-color: var(--bg-contact);
  padding: 2px 10px;
  top: -2px;
  border-radius: 15px;
}

.mobile-leaderboard {
  display: none;
  margin-left: auto;
  margin-right: auto;

  max-width: 600px;
}

#mobile-detail-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 0;
  overflow-y: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  
  align-items: center;
  justify-content: center;

  background-color: var(--bg-contact);

  transition: opacity 0.2s;
}

#mobile-modal {
  position: relative;
  height: 550px;
  padding: 20px;
  border: solid 5px var(--bg);
  border-radius: 20px;

  top: 40px;

  background-color: var(--bg-modal);

  transition: top 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

#mobile-detail {
  width: 80vi;
  height: 500px;
  min-width: 360px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0;

  scrollbar-color: var(--text-note) transparent;
  scrollbar-width: 10px;
  
  color: var(--text-default);
}

#mobile-player>div:last-child {
  display: none;
}

#modal-close {
  float: right;
  height: 35px;

  cursor: pointer;
}

.material-symbols-outlined {
  user-select: none;
  -webkit-user-select: none;
}

/* QUERIES */

@keyframes load {
  0% { transform: rotate(55deg); }
  100% { transform: rotate(415deg); }
}

@media all and (max-width: 1100px) {
  .leaderboard {
    display: none;
  }
  .mobile-leaderboard {
    display: block;
  }
  body#leaderboard {
    overflow: auto !important;
    overflow-x: hidden;
  }
}

@media all and (max-width: 980px) {
  #menuContainer {
    padding-left: 0;
  }

  a.menu {
    display: none;
  }

  b.menu {
    margin-left: 45px;
  }

  button.navdrop {
    display: block;
  }

  .mainTitle {
    font-size: 3em;
  }

  body#leaderboard {
    overflow-x: hidden !important;
  }
}

@media all and (max-width: 730px) {
  #mobile-modal {
    padding: 5px;
    height: 85vh !important;
  }

  #mobile-detail {
    height: 75vh !important;
    padding: 0 7px;
  }

  #mobile-detail h1 {
    font-size: 20px;
    vertical-align: middle;
  }

  #contact {
    height: 35px;
    padding: 2px 8px;
    top: 6px;
    border-radius: 10px;
  }

  #contact a {
    height: 30px !important;
    margin: 3px 0 !important;
  }

  #contact>span {
    width: 30px !important;
  }

  #contact img {
    height: 30px !important;
  }

  #contact>span img {
    height: 27px !important;
  }

  #mobile-player-title {
    width: 85% !important;
    margin-bottom: 15px !important;
    margin-left: 10px !important;
  }

  #player-info_mobile .title {
    font-size: 14px !important;
  }

  #player-info_mobile .leaderboard-detail-content {
    font-size: 12px !important;
  }

  #player-info_mobile {
    line-height: 30px !important;
    margin-left: 10px !important;
  }

  #player-info_mobile span {
    height: 30px !important;
  }

  #mobile-detail h2 {
    font-size: 18px;
    height: 25px !important;
    width: 80px !important;
  }

  #mobile-detail-switches-container {
    height: 25px !important;
    margin-right: 5px !important;
  }

  #mobile-level-list-title {
    margin: 15px 0 15px 10px !important;
    height: 25px !important;
  }

  #mobile-detail-switches-container span {
    font-size: 14px;
  }

  #order-switch_mobile {
    width: 45px;
  }

  #order-switch_mobile span {
    width: 45px;
  }

  #placement-switch_mobile {
    width: 65px;
  }

  #placement-switch_mobile span {
    width: 65px;
  }

  #order-switch-display_mobile {
    width: 45px;
    height: 25px;
    top: 19px !important;
  }

  #placement-switch-display_mobile {
    width: 65px;
    height: 25px;
    top: 19px !important;
  }

  #placement-title {
    margin-left: 15px !important;
  }

  #player-level-list_mobile>div {
    font-size: 15px !important;
    height: 25px !important;
  }

  .lvl-tag,
  .lvl-place,
  .lvl-name,
  .lvl-link,
  .lvl-date {
    height: 25px !important;
  }

  .lvl-tag {
    width: 25px !important;
  }

  .lvl-place {
    width: 50px !important;
    line-height: 25px;
    margin-right: 10px !important;
  }

  .lvl-name {
    float: left;
    line-height: 25px;
  }

  .lvl-pts {
    display: none;
  }

  .lvl-link {
    width: 20px !important;
  }

  .lvl-date {
    line-height: 25px;
  }

  .lvl-tag img {
    width: 20px !important;
    height: 20px !important;
  }

  .lvl-link img {
    width: 20px !important;
    height: 20px !important;
  }

  #modal-close {
    margin-right: 5px;
    margin-top: 5px;
  }
}